<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../../stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"><%- include('../navbar') %></div>

        <div class="col-sm-10" style="margin-top: 20px">
          <h1><%= title %></h1>
          <form action="" method="post">
            <div class="form-group">
              <label for="watch"> Watch: </label>
              <select
                id="watch"
                class="form-control"
                type="select"
                placeholder="Select watch"
                name="watch"
                required
              >
                <% watch_list.sort(function(a, b) {let textA =
                a.name.toUpperCase(); let textB = b.name.toUpperCase(); return
                (textA < textB) ? -1 : (textA > textB) ? 1 : 0}) %> <% for (let
                watch of watch_list) { %> <%if (typeof watch !== 'undefined' &&
                watch) { %> <% if (typeof selected_watch !== 'undefined' &&
                selected_watch.toString() === watch._id.toString() ) { %>
                <option value="<%= watch._id%>" selected>
                  <%= watch.name %>
                </option>
                <% } else { %>
                <option value="<%= watch._id%>"><%= watch.name %></option>
                <% } %> <% } %> <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="serial_number"> Serial Number: </label>
              <input
                id="serial_number"
                class="form-control"
                type="text"
                name="serial_number"
                placeholder="Serial Number (SN)"
                value="<%= (typeof watchinstance === 'undefined') ? '' : watchinstance.serial_number  %>"
              />
            </div>
            <div class="form-group">
              <label for="purchase_date"> Date when book available: </label>
              <input
                id="purchase_date"
                class="form-control"
                type="date"
                name="purchase_date"
                value="<%= (typeof watchinstance === 'undefined') ? '' : watchinstance.purchase_date_yyyy_mm_dd  %>"
              />
            </div>

            <button
              style="border: none; border-radius: 8px; padding: 6px"
              class="btn-primary"
              type="submit"
            >
              Submit
            </button>
          </form>

          <% if (typeof errors !== 'undefined') { %> <% if (errors) { %>
          <ul>
            <%errors.forEach((error) => { %>
            <li><%= error.msg %></li>
            <% }); %>
          </ul>
          <% } %> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
